h3 {
    font-family: Arial;
    background-color: grey;
    padding: 3px;
}

section {
    overflow: auto;
    /*border: 5px solid red;*/
}

article {
    width: 49%;
    /*border: 5px solid green;*/
}


.R {
    float: right;
}

.L {
    float: left;
}